{% load staticfiles %}

<link rel="stylesheet" type="text/css" href = "/symper/{% static 'task.css' %}" /> 

<h1>Choose the image that's most similar!</h1>
<form action = '' method='post'>
{% csrf_token %}
<input type="image" class="sym_image topChoice" value="top" src="/symper/{{ task.choice1.image.url }}" name="top">
</form>

<form action = '' method='post'>
{% csrf_token %}
<input type='image' class="sym_image bottomChoice" value="bottom" src="/symper/{{ task.choice2.image.url }}" name="bottom">
</form>

<img class="sym_image target" src="/symper/{{ task.test_image.image.url }}">
